{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="m-0" style="background-image: url('http://image14.hanatour.com/uploads/2012/02/IMG_19961.jpg'); background-attachment: fixed; position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; background-blend-mode: screen;">
<div class="container">
<h1 class="text-center text-dark">영화 목록</h1>
<hr>

<a href="{% url 'movies:create' %}"><button type="button" class="btn btn-secondary">새 영화 추가</button></a>
<hr>
{% comment %} <img src="{% static 'movies/images/sample_img.jpg' %}" alt="" class="bg-img img-fluid"> {% endcomment %}
{% for movie in movies %}
<a href="{% url 'movies:detail' movie.pk %}"><h2 class="d-inline text-dark">{{ movie.title }}</h2><h5 class="d-inline text-dark">({{ movie.title_en }}, {{ movie.open_date.year }})</h5></a>

<h6><p>평점: {{ movie.score }}</p></h6>
<form action="{% url 'movies:delete' movie.pk %}" method='POST'>
  {% csrf_token %}
  <button type="submit" class="btn btn-secondary">삭제</button>
</form>
<hr>
{% endfor %}
</div>
{% endblock content %}