{% extends 'articles/base.html' %}
{% block content %}
<h1>DETAIL</h1>
<hr>
<p>{{ article.pk }}</p>
<p>{{ article.title }}</p>
<p>{{ article.content }}</p>
<p>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }}</p>
<p>{{ article.updated_at|date:"M, j ,Y" }}</p>
<a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
{% for comment in form %}
<form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
  {% csrf_token %}
  <p class="d-inline-block">댓글: {{ comment.comment }}</p>
  <input type="submit" value="delete">
</form>
{% endfor %}
<form action="{% url 'articles:comments_create' article.pk %}">
  <label for="comment">COMMENT</label>
  <input type="text" name="comment" id="comment">
  <input type="submit" value="submit">
</form>
<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="delete">
</form>
<a href="{% url 'articles:index' %}">[back]</a>
{% endblock  %}