/* 그룹 선택자 */
p,
h3 {
  color: burlywood;
}

/* div 세팅 */
div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/* 인접 선택자, 바로 붙어있어야 한다. */
.red + .blue + div {
  background-color: purple;
}

/* 자식 선택자 한 칸 차이만 자식 */
ol > li {
  color: chartreuse;
}

/* 자식 선택자 ol의 아이디를 지정하여 변경 */
ol#chocolate > li {
  color: chocolate;
}

/* 자손(후손) 선택자 */
ul li {
  color: lime
}

/* css에서 원이 있으면 사각형을 깎아서 만든 것 */